.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #E2E4E9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.lookup-form-block {
  color: black;
}

.results-container {
  display: flex;
}

.map_container {
  height: 80vh;
  width:  60%;
  margin: auto;
}

.map-control_bar {
  width: 100%;
  margin: auto;
}

.map-control_button {
  height: 5vh; 
  width: 10%;
}

.location-container {
  width: 20%;
  height: 80vh;
  background: rgb(206, 206, 206);
}
.places-list {
  width: 20%;
  height: 80vh;
  float: right;
  background: rgb(206, 206, 206);
  overflow-y: auto

}
