form {
    display: flex;
    flex-direction: column;
    background-color: aqua
}

label  {
    font-size: 18px;
    padding-right: 1em;
}

input {
    margin-left: 10px;
    align-self: center;
}

.inputGroup {
    display: flex;
    flex-direction: row;
}