form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

strong {
    margin-top: 1em;
}

label  {
    font-size: 18px;
    padding-right: 1em;
}

input {
    margin-left: 0.5em;
    align-self: center;
}

.inputGroup {
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
}

.tabItem {
    border-width: 5px;
    border-color: black;
    background-color: #92b0b3;
    padding-right: 5em;
    padding-left: 5em;
    display: flex;
    align-items: center;
    justify-content: center
}

.tabContainer {
    display: flex;
    flex-direction: row;
    width: '50%';
}

.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 3em;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    bottom: 0em;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 47px;
    content: " or drag it here. ";
    display: block;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}