.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #E2E4E9;
  min-height: '100%';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.lookup-form-block {
  color: black;
  display: flex;
  width: 40%;
  flex-direction: column;
}

.results-container {
  height: '80vh';
  display: flex;
}

.map_container {
  height: 80vh;
  width:  49.5%;
  border: 1px solid rgb(62,68,74);
  margin: auto;
}

.map-control_bar {
  display: flex;
  width: 100%;
  
  border-radius: .25rem;
  align-items: center;
  justify-content: space-between
}

.map-control_button {
  height: 7vh; 
  width: 10%;
}

.places-list {
  width: 25%;
  height: 80vh;
  float: right;
  background: rgb(206, 206, 206);
}

.demographics-list-vertical {
  width: 25%;
  height: 80vh;
  float: left;
  background: rgb(206, 206, 206);
  overflow-x: auto;
  font-size: 8;
  border: 1px solid rgb(62,68,74);
}

.demographics-list-horizontal {
  width: 100vh;
  height: 40vh;
  margin: auto;
  background: rgb(206, 206, 206);
  overflow-x: auto;
}

.demographics-list_table {
  width: 100%;
  height: 80vh;
}

.demographics_list_row {
  background: rgb(180, 172, 172);
  text-align: center
}

.map_buttons {
  width: calc((1.5em + .75rem + 2px) *4);
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}