#blurImage {
    -webkit-filter: blur(5px); 
    filter: blur(5px);
}

#noBlur {
    -webkit-filter: blur(0px); 
    filter: blur(0px);
}

#listingHeader {
    border-bottom: 1px solid rgba(70,70,70,0.5);
}

.listingDataTable {
    table-layout: fixed;
    font-size: 18px;
    border-bottom: 2px solid rgba(70,70,70,0.3);
    text-align: left;
}

.listingTableHeader {
     text-align : left; 
     margin-left: '0.45em';
     font-size: '22px'; 
     font-weight: bold;
}

.tableValue {
    font-weight: bold;
}

#contact_info_panel {
    border-left: 1px solid rgba(70,70,70,0.3);
}