@import 'variables.scss';

.chartPanel_container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media(min-width: $md-pt) {
    .doughnut_chart {
        width: 33%;
        padding: .75em;
    }
}

@media(max-width: $md-pt) {
    .doughnut_chart {
        width: 95%;
        padding: .75em;
    }
}
