#blurImage {
    -webkit-filter: blur(5px); 
    filter: blur(5px);
}

#noBlur {
    -webkit-filter: blur(0px); 
    filter: blur(0px);
}

#listingHeader {
    border-bottom: 1px solid rgba(250,250,250,0.5);
}

.listingDataTable {
    table-layout: fixed;
    font-size: 18px;
    border-top: 2px solid rgba(250,250,250,0.5);
    text-align: left;
}

.listingTableHeader {
     text-align : left; 
     margin-left: '0.45em';
     font-size: '22px'; 
     font-weight: bold;
     color: 'white';
}

.tableValue {
    font-weight: bold;
    width: 65%;
}

#contact_info_panel {
    border-left: 1px solid rgba(250,250,250,0.5);
}

.listingCard:hover {
    cursor: pointer;
    opacity: 0.65;
}

.listingCard {
    opacity: 1;
    display: block;
    max-width: 90%;
    max-height: 90%;
}

.listingCardImgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72.5%;
    background-color: black;
}
// style={{ height: '75%', width: '100%'}}

#previewHeader {
    border-bottom: 1px solid rgba(250,250,250,0.5);
}

#listingViewBottom {
    border-top: 1px solid rgba(250,250,250,0.5);;
}
.listingItem {
    border-bottom: 1px solid rgba(250,250,250,0.5);;
    border-top: 1px solid rgba(250,250,250,0.5);;
}

.contactPhoto {
    display: block;
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
 //   border-radius: 50%;
}

.slideShowImgContainer {
    background-color: black;
}

.listingImage {
    display: block;
    max-width:1200px;
    max-height:400px;
    width: auto;
    height: auto;
    margin: auto;
}