
.listingBanner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    background-color: whitesmoke;
    z-index: 500;

    div {
        @media (min-width: 370px) {
            span {
                font-size: 16x;
            }
        }

        @media (max-width: 370px) {
            span {
                font-size: 14px;
            }
        }
    }
}

.toolbar_button {
    font-size: 12;
    align-self: center;
}

.switch_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    span {
        text-align: center;
        color: whitesmoke;
    }
}

.rowOne {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}


@media (min-width: 551px) {
    .map-control_bar {
        display: flex;
        flex: 1;
        font-size: 12px;
        border-radius: .25rem;
        align-items: center;
        justify-content: space-around;
      }

      .place_dropdown_container {
        display: flex;
        flex-direction: row;
        align-items: center;
    
        div {
            span {
                color: whitesmoke;
            }
        }
    }
    
    .fade_container {
        top: 22.5%;
        right: 26%;
        width: 150px;
        position: absolute;
        padding-top: 1em;
        text-align: center;
        background-color: rgba(238, 238, 238, 0.55);

        span {
            color: black;
        }
    }

    .streetView_container {
        background-color: #eeeeee;
        width: 30%;
        height: 30%;
        position: absolute;
        top: 118px;
        left: 25.35%;
        z-index: 100;
    }
}

@media (max-width: 551px) {

    .map-control_bar {
        width: 100%;
        height: 150px;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        font-size: 12px;
        border-radius: .25rem;
        align-items: center;
        justify-content: space-around;
        z-index: 999999;
        background-color: rgb(26,28,41);
        padding: 1em 0 1em 0;
      }

      .place_dropdown_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-around;
        padding-top: .5em;
    
        div {
            span {
                color: whitesmoke;
            }
        }
    }
    
    .fade_container {
        top: calc(56px + 80px);
        right: 0;
        width: 150px;
        position: absolute;
        padding-top: 1em;
        text-align: center;
        background-color: rgba(238, 238, 238, 0.55);

        span {
            color: black;
        }
    }

    .streetView_container {
        background-color: #eeeeee;
        width: 65%;
        height: 300px;
        position: absolute;
        top: 76px;
        left: 0;
    }
}

.googleMap_container {
    width: 100%;
    height: 100%;
}

.extrasContainer {
    width: 100%;
    height: 100%;
}